@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #434343;
  --foreground: #ffffff;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #434343;
    --foreground: #ffffff;
  }
}

html, body {
  height:100%;
  width: 100%;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}


.resizeme{
  height: 100%;
  width: 100%;
}
